.pendulum {
    background-color: #C9C9CC;
    clip-path: polygon(20% 0, 80% 0, 100% 10%, 100% 90%, 80% 100%, 20% 100%, 0 90%, 0 10%);
}

.pendulum::after {
    background-image: none !important;
}

.margin-unic {
    border: 50px solid #316AAC;
    border-radius: 50px;
    box-shadow: inset 0px 0px 25px 10px #316AAC;
    height: 262px;
    margin-left: 48px;
    margin-top: 74px;
    position: absolute;
    width: 262px;
    z-index: 1;
}

.slot {
    background-color: #C9C9CC;
    height: 54px;
    position: absolute;
    width: 16px;
    z-index: 2;
}

.sl1 {
    clip-path: polygon(100% 10%, 100% 90%, 40% 100%, 40% 0);
    left: -57px;
    top: 35px;
}

.sl2 {
    clip-path: polygon(100% 10%, 100% 90%, 40% 100%, 40% 0);
    left: -57px;
    top: 208px;
}

.sl3 {
    clip-path: polygon(0% 10%, 0% 90%, 60% 100%, 60% 0);
    left: 304px;
    top: 35px;
}

.sl4 {
    clip-path: polygon(0% 10%, 0% 90%, 60% 100%, 60% 0);
    left: 304px;
    top: 208px;
}

.horn {
    background-color: #316aac;
    height: 32px;
    position: absolute;
    width: 32px;
    z-index: 2;
}

.hr1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px -2px 6px 2px #29419A;
    left: 32px;
    top: -65px;
}

.hr2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px -2px 6px 2px #29419A;
    left: 200px;
    top: -65px;
}

.hr3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px 2px 6px 2px #29419a;
    left: 32px;
    top: 294px;
}

.hr4 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px 2px 6px 2px #29419a;
    left: 200px;
    top: 294px;
}

.shadow-button-block {
    border-bottom-left-radius: 110px;
    border-top-left-radius: 110px;
    box-shadow: inset 5px 1px 5px 0px #787979;
    height: 362px;
    margin-left: 484px;
    margin-top: 68px;
    position: absolute;
    width: 180px;
    z-index: 2;
}

.shadow-button-hole {
    border-radius: 50px;
    border: 1px solid #000000;
    box-shadow: inset 2px 2px 20px 0px #000000;
    height: 95px;
    margin-left: 50px;
    position: absolute;
    width: 95px;
    z-index: 2;
}

.sbh-1 {
    margin-top: 20px;
}

.sbh-2 {
    margin-top: 135px;
}

.sbh-3 {
    margin-top: 250px;
}

.shadow-mini-button-hole {
    border-radius: 50px;
    border: 1px solid #000000;
    box-shadow: inset 2px 2px 20px 0px #000000;
    height: 46px;
    margin-left: 20px;
    margin-top: 217px;
    position: absolute;
    width: 46px;
    z-index: 2;
}

.shadow-button-input {
    background-color: #000000;
    border-radius: 40px;
    height: 85px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    width: 85px;
    z-index: 2;
}

.shadow-mini-button-input {
    background-color: #000000 ;
    border-radius: 50px;
    height: 40px;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
    width: 40px;
    z-index: 2;
}

.shadow-ventilation-block {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset -1px 7px 20px 0px #787979;
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: center;
    margin-left: 137px;
    margin-top: 472px;
    position: absolute;
    width: 413px;
    z-index: 2;
}

.ventilation-block {
    background-color: #787979;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 25px;
}

.shadow-ventilation-block-bottom-left {
    background-color: #787979;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset -7px 0px 20px 2px #9c9b9bde;
    height: 20px;
    margin-left: 7px;
    margin-top: 450px;
    position: absolute;
    transform: rotateZ(20deg);
    width: 138px;
    z-index: 3;
}

.shadow-ventilation-block-bottom-right {
    background-color: #787979;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: inset 7px 0px 20px 2px #9c9b9bde;
    height: 20px;
    margin-left: 541px;
    margin-top: 449px;
    position: absolute;
    transform: rotateZ(340deg);
    width: 138px;
    z-index: 3;
}