.div-main {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.v-pet-blue {
    background-color: #3B5B9e;
    border: 1px solid #2D3952;
}

.v-pet-green {
    background-color: #46594E;
    border: 1px solid #2E3E35;
}

.v-pet-gray {
    background-color: #8797AD;
    border: 1px solid #0c485a;
}

.v-pet-red {
    background-color: #D84341;
    border: 1px solid #985352;
}

.v-pet-yellow {
    background-color: #F3ED48;
    border: 1px solid #BB9754;
}

.v-pet-red::after,.v-pet-yellow::after, .v-pet-blue::after {
    background-image: none !important;
}

.lh-grey {
    background-color: #879096
}

.div-v-pet {
    border-radius: 14px;
    height: 492px;
    position: relative;
    top: 10px;
    width: 688px;
    z-index: 0;
}


.div-v-pet::after {
    border-radius: 14px;
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    mix-blend-mode:exclusion;
    background-size:17px 14px;
    background-repeat: space;
    background-image: -webkit-repeating-radial-gradient(20% 33%, closest-corner, rgb(148 119 119), rgb(64 64 70 / 50%), rgb(38 38 41) 20%);
    left:0;
    top:0;
    z-index:1;
}

/** --- Button --- **/
.circle {
    border: 1px solid #596174;
    border-radius: 40px;
    box-shadow: inset 0px 3px 4px 0px #201e12;
    height: 60px;
    position: relative;
    width: 60px;
    z-index: 3;
}

.button-shadow {
    background-color: #170E0E;
    border-radius: 40px;
    height: 40px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 40px;
}

.button {
    background-color: #594841;
    border: none;
    border-radius: 40px;
    box-shadow: inset 0px 3px 4px 0px #5E5351;
    cursor: pointer;
    height: 32px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 32px;
}

.button:active {
    background-color: #2A1F19;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 5px;
    box-shadow: inset -1px 0px 2px 0px #313131;
}

.c1 {
    left: 350px;
    top: 44px;
}

.c2 {
    left: 350px;
    top: 58px;
}

.c3 {
    left: 350px;
    top: 74px;
}

/** ------- **/

/** --- Mini Button --- **/
.mini {
    bottom: 10px;
    height: 26px;
    left: 342px;
    position: relative;
    width: 26px;
}

.mini > .button-shadow {
    height: 20px;
    left: 3px;
    top: 4px;
    width: 20px;
}

.mini > .button-shadow > .button {
    height: 16px;
    left: 2px;
    top: 2px;
    width: 16px;
}

/** ------- **/

/** --- Screen --- **/
.screen {
    align-content: center;
    align-items: flex-end;
    background-color: #E4F1F7;
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-radius: 14px;
    box-shadow: inset 3px 2px 14px 6px #313131;
    display: flex;
    flex-direction: row;
    height: 242px;
    justify-content: center;
    margin-left: 108px;
    margin-top: 132px;
    position: absolute;
    width: 242px;
    z-index: 1;
}
/** ------- **/

/** --- Button Lock --- **/
.keyhole-shadow {
    background-color: #170E0E;
    border-radius: 14px;
    bottom: 99px;
    height: 78px;
    left: 234px;
    position: relative;
    width: 56px;
    z-index: 4;
}

.keyhole {
    background-color: #7C6867;
    border-radius: 14px;
    cursor: pointer;
    height: 76px;
    position: relative;
    top: 1px;
    width: 55px;
}

.hole {
    border-radius: 40px;
    box-shadow: inset -1px 1px 0px 1px #313131;
    height: 32px;
    left: 4px;
    position: relative;
    width: 32px;
}

.tooth {
    background-color: #7C6867;
    bottom: 8px;
    box-shadow: inset 1px 0px 0px 0px #313131, 1px 0px 0px 0px #313131, 0px 1px 0px 0px #807272;
    height: 20px;
    left: 5px;
    position: relative;
    transform: perspective(10px) rotateX(12deg);
    -webkit-transform: perspective(10px) rotateX(12deg);
    width: 28px;
}

.keyhole:active > .hole {
    box-shadow: inset -2px 1px 3px 1px #313131;
}

.keyhole:active > .tooth {
    box-shadow: inset 1px 0px 0px 0px #313131, 2px 0px 0px 0px #313131, inset 0px -1px 0px 0px #313131;
}
/** ------- **/

/** --- digimon --- **/
.digimon {
    position: absolute;
    z-index: 1;
}

.evolved {
    background-color: #32cabb2b;
    border-radius: 14px;
    border: 1px solid #add8d894;
}

.devolved {
    background-color: #ca323238;
    border-radius: 14px;
    border: 1px solid #ec424294;
}
/** ------- **/

/** --- Horizontal line --- **/
.horizontal-line {
    background-color: #927D78;
    border: 1px solid #4e515a;
    border-radius: 6px;
    box-shadow: 2px -2px 0px 0px #201e12, 1px 2px 5px 0px #201e12;
    height: 15px;
    position: relative;
    right: 5px;  
    width: 268px;
    z-index: 4;
}

.l1 {
    bottom: 245px; 
}

.l2 {
    bottom: 60px;
}
/** ------- **/

/** --- Vertical line --- **/
.vertical-line {
    background-color: #927D78;
    border: 1px solid #4e515a;
    border-radius: 6px;
    box-shadow: 2px -2px 0px 0px #201e12, 1px 2px 5px 0px #201e12;
    height: 212px;
    position: relative;
    right: 0px;
    width: 15px; 
    z-index: 3;
}

.l3 {
    bottom: 278px;
}

.l4 {
    top: -492px;
    left: 247px;
}
/** ------- **/

@media (max-width: 450px) {
    .copyright {
        position: relative;
        top: 130px;
    }

    .div-v-pet {
        position: relative;
        top: 68px;
        transform: rotate(90deg) scale(0.6);
        -webkit-transform: rotate(90deg) scale(0.6);
    }
}

@media (min-width: 881px) {
    .copyright {
        position: relative;
        top: 300px;
    }

    .div-v-pet {
        position: relative;
        top: 150px;
    }
}
