.div-main {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.div-v-pet {
    background-color: #8797AD;
    border: 1px solid #0c485a;
    border-radius: 14px;
    height: 308px;
    width: 430px;
}

/** --- Button --- **/
.circle {
    border: 1px solid #596174;
    border-radius: 40px;
    box-shadow: inset 0px 3px 4px 0px #201e12;
    height: 60px;
    position: relative;
    width: 60px;  
}

.button-shadow {
    background-color: #170E0E;
    border-radius: 40px;
    height: 40px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 40px;
}

.button {
    background-color: #594841;
    border: none;
    border-radius: 40px;
    box-shadow: inset 0px 3px 4px 0px #5E5351;
    cursor: pointer;
    height: 32px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 32px;
}

.button:active {
    background-color: #2A1F19;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 5px;
    box-shadow: inset -1px 0px 2px 0px #313131;
}

.c1 {
    left: 350px;
    top: 44px;
}

.c2 {
    left: 350px;
    top: 58px;
}

.c3 {
    left: 350px;
    top: 74px;
}

/** ------- **/

/** --- Mini Button --- **/
.mini {
    bottom: 10px;
    height: 26px;
    left: 342px;
    position: relative;
    width: 26px;
}

.mini > .button-shadow {
    height: 20px;
    left: 3px;
    top: 4px;
    width: 20px;
}

.mini > .button-shadow > .button {
    height: 16px;
    left: 2px;
    top: 2px;
    width: 16px;
}

/** ------- **/

/** --- Screen --- **/
.screen {
    background-color: #E4F1F7;
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-radius: 14px;
    box-shadow: inset 3px 2px 14px 6px #313131;
    height: 162px;
    margin-left: 52px;
    margin-top: 76px;
    position: absolute;
    width: 154px;
}
/** ------- **/

/** --- Button Lock --- **/
.keyhole-shadow {
    background-color: #170E0E;
    border-radius: 14px;
    bottom: 99px;
    height: 78px;
    left: 234px;
    position: relative;
    z-index: 2;
    width: 56px;
}

.keyhole {
    background-color: #7C6867;
    border-radius: 14px;
    cursor: pointer;
    height: 76px;
    position: relative;
    top: 1px;
    width: 55px;
}

.hole {
    border-radius: 40px;
    box-shadow: inset -1px 1px 0px 1px #313131;
    height: 32px;
    left: 4px;
    position: relative;
    width: 32px;
}

.tooth {
    background-color: #7C6867;
    bottom: 8px;
    box-shadow: inset 1px 0px 0px 0px #313131, 1px 0px 0px 0px #313131, 0px 1px 0px 0px #807272;
    height: 20px;
    left: 5px;
    position: relative;
    transform: perspective(10px) rotateX(12deg);
    width: 28px;
}

.keyhole:active > .hole {
    box-shadow: inset -2px 1px 3px 1px #313131;
}

.keyhole:active > .tooth {
    box-shadow: inset 1px 0px 0px 0px #313131, 2px 0px 0px 0px #313131, inset 0px -1px 0px 0px #313131;
}
/** ------- **/

/** --- digimon --- **/
.digimon {
    left: 5px;
    position: relative;
    top: 9px;
}

.evolved {
    background-color: #32cabb2b;
    border-radius: 14px;
    border: 1px solid #add8d894;
}

.devolved {
    background-color: #ca323238;
    border-radius: 14px;
    border: 1px solid #ec424294;
}
/** ------- **/

/** --- Horizontal line --- **/
.horizontal-line {
    background-color: #927D78;
    border: 1px solid #4e515a;
    border-radius: 6px;
    box-shadow: 2px -2px 0px 0px #201e12, 1px 2px 5px 0px #201e12;
    height: 15px;
    position: relative;
    right: 5px;  
    width: 268px;
    z-index: 2;
}

.l1 {
    bottom: 245px; 
}

.l2 {
    bottom: 60px;
}
/** ------- **/

/** --- Vertical line --- **/
.vertical-line {
    background-color: #927D78;
    border: 1px solid #4e515a;
    border-radius: 6px;
    box-shadow: 2px -2px 0px 0px #201e12, 1px 2px 5px 0px #201e12;
    height: 212px;
    position: relative;
    right: 0px;
    width: 15px; 
    z-index: 1;
}

.l3 {
    bottom: 278px;
}

.l4 {
    top: -492px;
    left: 247px;
}
/** ------- **/

@media (max-width: 450px) {
    .copyright {
        position: relative;
        top: 130px;
    }

    .div-v-pet {
        position: relative;
        top: 68px;
        transform: rotate(90deg);
    }
}

@media (min-width: 881px) {
    .copyright {
        position: relative;
        top: 380px;
    }

    .div-v-pet {
        transform: scale(2);
        position: relative;
        top: 200px;
    }
}
